<main class="main">
    <a href="https://github.com/ElyeserGabrian" target="_blank" >
    <div class="gitHub-esquerda">
        <img src="assets/img/logo_github.png" alt="Perfil GitHub Elyeser" class="gitHub-ely">
        <p>Elyeser</p>
    </div>
    </a>

    <a href="https://github.com/Josue-RR" target="_blank">
    <div class="gitHub-direita">
        <p>Josué</p>
        <img src="assets/img/logo_github.png" alt="Perfil GitHub Josué" class="gitHub-josue">
    </div>
    </a>
      

    <div class="conteudo">
        <h1>Seja Bem Vindo Ao Nosso Chat!</h1>
        <button type="button" (click)="irParaChat()">Entrar</button>
    </div>

</main>