<main class="main">
    <div class="gitHub-esquerda">
        <img src="assets/img/logo_github.png" alt="Perfil GitHub Elyeser" class="gitHub-ely">
        <p>Elyeser</p>
    </div>

    <div class="gitHub-direita">
        <p>Josué</p>
        <img src="assets/img/logo_github.png" alt="Perfil GitHub Josué" class="gitHub-josue">
    </div>


    <div class="conteudo">
        <h1>Seja Bem Vindo Ao Nosso Chat!</h1>
        <button type="button" (click)="irParaChat()">Entrar</button>
    </div>

</main>