main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.gitHub-esquerda{
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 20px;
    left: 30px;
    position: absolute;

    font-weight: 800;
    color: #fff;
}

.gitHub-direita{
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    top: 20px;
    right: 20px;
    position: absolute;

    font-weight: 800;
    color: #fff;    
}

img{
    width: 30px;
    height: 30px;
}

.gitHub-ely{
    margin-right: 5px;
}

.gitHub-josue{
    margin-left: 5px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




h1{
    font-weight: 900;
    color: #ECDECA;

    margin-bottom: 40px;
}

button{
    margin-top: 10px;

    width: 7.5rem;
    height: 3rem;
    background-color: rgba(50, 115, 255, 1);
    border: none;
    border-radius: 5px;

    font-family: 'Nunito', sans-serif;
    font-size: larger;
    font-weight: 900;
    color: #fff;
}