<main class="main">
    <div class="conteudo">




        <div class="caixa-mensagem">
            <div class="mensagens">

                <div class="chat-date">
                    <p>{{ dataAtual }}</p>
                </div>

                <div class="msg-branca">
                    <p><strong>Josué:</strong></p>
                    <p>Olá! Tudo bem?</p>
                    <p class="hora">12:30</p>
                </div>

                <div class="msg-azul" *ngFor="let mensagem of mensagens; index as posicao">
                    <p><strong>{{ mensagem.user }}:</strong></p>
                    <p>{{ mensagem.texto}}</p>
                    <div class="hr-del">
                        <p class="hora"> {{mensagem.hora}}</p>
                        <button class="deleta" (click)="deleteMessage(posicao)">❌</button>
                    </div>


                </div>
            </div>
        </div>
        <div class="caixa-inputs">
            <div class="inputs">
                <input type="text" name="textoMsg" id="textoMsg" [(ngModel)]="textoMsg" (keydown.enter)="enviarMsg()"
                    class="ipt-texto" placeholder="Digite uma mensagem...">

                <button type="button" class="btn-enviar" (click)="enviarMsg()">Enviar</button>
            </div>
        </div>

    </div>
</main>